<footer class="page-footer grey darken-3">
  
  <div *ngIf="showContactBool">
    <app-contato></app-contato>
  </div>

  <div class="amber footer-links">
    <div class="container grey-text text-darken-3" style="padding: 0 15px;">
      <div class="row">
        <div class="col s3 push-s1 m2 push-m3 l1 push-l5">
          <a href="https://api.whatsapp.com/send?l=pt&phone=5512988001234" target="_blank"><img src="assets/img/whatsapp.png" style="width: 100%"></a>
        </div>
        <div class="col s3 push-s1 m2 push-m3 l1 push-l5">
          <a href="https://www.facebook.com/studiofitnesso2/" target="_blank"><img src="assets/img/facebook.png" style="width: 100%"></a>
        </div>
        <div class="col s3 push-s1 m2 push-m3 l1 push-l5">
          <a href="https://www.instagram.com/studiofitnesso2/" target="_blank"><img src="assets/img/instagram.png" style="width: 100%"></a>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6 l4">
          <h5>Links Úteis</h5>
          <p><a href="https://www.portalenaf.com.br" target="_blank" class="grey-text text-darken-4">PortalEnaf</a></p>
          <p><a href="http://www.educacaofisica.com.br" target="_blank" class="grey-text text-darken-4">EducacaoFisica</a></p>
          <p><a href="https://www.crefsp.gov.br" target="_blank" class="grey-text text-darken-4">CREFSP</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>