.input-field label,
.input-field input[type=text]:focus + label,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus + label,
.input-field input[type=email]:focus
.input-field textarea:focus + label,
.input-field textarea:focus {
 color: #ffc107;
}
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #ffc107;
	box-shadow: 0 1px 0 0 #ffc107;
}
textarea.materialize-textarea:focus:not([readonly]) + label {
	color: #ffc107;
}
.contact-us h4 {
  font-size: 48px;
  line-height: 1em;
  font-family: "Poppins";
  font-weight: 700;
  text-transform: uppercase;
}
