<nav class="white" role="navigation" id="navbar">
  <div class="nav-wrapper container">
    <a routerLink="" class="brand-logo black-text"><img src="assets/img/logotipo-fitness-o2-header.jpg" alt="Logotipo Fitness O2" style="margin-top: 3px;"></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="" class="black-text">Home</a></li>
      <li><a routerLink="sobre-nos" class="black-text">Sobre nós</a></li>
			<li><a routerLink="entre-em-contato" class="black-text">Entre em contato</a></li>
			<!--<li><a href="/blog" class="black-text">Blog</a></li>-->
			<li><a href="/gallery" class="black-text">Galeria</a></li>
    </ul>
		
    <i class="material-icons black-text right icon-collapse hide-on-large-only" (click)="onClickSideNav()">menu</i>
		
  </div>
</nav>

<collapsible-list [type]="'accordion'">

	<collapsible-list-item>
		<collapsible-header class="waves-effect">
			<div #menuCollapse></div>
		</collapsible-header>
		<collapsible-body [expanded]="false">
			<p><a (click)="onClickSideNav()" routerLink="">Home</a></p>
			<p><a (click)="onClickSideNav()" routerLink="sobre-nos">Sobre nós</a></p>
			<p><a (click)="onClickSideNav()" routerLink="entre-em-contato">Entre em contato</a></p>
			<!--<p><a (click)="onClickSideNav()" href="/blog">Blog</a></p>-->
			<p><a (click)="onClickSideNav()" href="/gallery">Galeria</a></p>
		</collapsible-body>
	</collapsible-list-item>

</collapsible-list>

<router-outlet></router-outlet>
