#navbar, #navbar a.button-collapse, #navbar a.button-collapse i, .icon-collapse {
  height: 65px !important;
  line-height: 65px !important;
}
.icon-collapse {
	cursor: pointer;
}
.side-nav {
  padding-top: 15px;
}
.side-nav li {
    line-height: 40px;
}
.side-nav li > a {
  height: 40px;
}
.footer-links {
  padding: 30px;
}
.footer-links h5 {
  font-size: 24px;
  line-height: 1em;
  font-family: "Poppins";
  font-weight: 700;
  text-transform: uppercase;
}
.footer-links p {
  margin: 0 0 3px;
}
.footer-links a:hover {
  text-decoration: underline;
}
collapsible-list {
	margin: 0 !important;
	border: 0;
	box-shadow: none;
}
collapsible-header {
	min-height: 0;
	line-height: 0;
	border: 0;
}
collapsible-body {
	padding: 7.5px 0;
}
collapsible-body p {
	padding: 10px 15px;
	line-height: 20px;
	margin: 0;
}
collapsible-body p a {
	color: #777;
	display: block;
}
@media (max-width: 600px) {
  nav .brand-logo {
    left: 5%;
  }
}