#navbar, #navbar a.button-collapse, #navbar a.button-collapse i {
  height: 65px !important;
  line-height: 65px !important;
}
.side-nav {
  padding-top: 15px;
}
.side-nav li {
    line-height: 40px;
}
.side-nav li > a {
  height: 40px;
}
.footer-links {
  padding: 30px;
}
.footer-links h5 {
  font-size: 24px;
  line-height: 1em;
  font-family: "Poppins";
  font-weight: 700;
  text-transform: uppercase;
}
.footer-links p {
  margin: 0 0 3px;
}
.footer-links a:hover {
  text-decoration: underline;
}
