.icon-block {
  justify-content: center;
  flex-direction: column;
  text-align: center;
  display: flex;
}
.icon-block div {
  font-size: 48px;
  line-height: 1em;
  font-family: "Poppins";
  font-weight: 700;
  text-transform: uppercase;
}
.fs28 {
  font-size: 28px !important;
}
.abstract-who-we-are, .depoimentos {
  font-size: 16px;
  padding: 0 20px; 
  text-align: center;
}
.depoimentos img {
  border-radius: 50%; 
  width: 100px;
}
.row {
  margin-bottom: 0;
}
.row .col {
    padding: 0 0;
}
@media (min-width: 993px) {
  .row-flex-on-large .row {
    display: flex;
  }
}
@media (max-width: 993px) {
  .row-flex-on-large .img-bg-cover {
    height: 400px;
  }
}