<div id="index-banner" class="parallax-container">
  <div class="parallax" materialize="parallax"><img src="assets/img/fitness-o2-bg.jpeg" alt="Fitness O2"></div>
</div>

<!--   Icon Section   -->
<div class="row block-1">
  <div class="col s12 m6 grey darken-3">
    <div class="icon-block">
      <h3 class="grey-text text-lighten-2">Who can <br><span class="amber-text">join</span></h3>
      <p class="white-text">Studio Fitness has something for everyone, no matter their age or fitness level. Our programs keep you constantly inspired and challenged so that you can meet your fitness goals.</p>
    </div>
  </div>
  <div class="col s12 m6 amber">
    <div class="icon-block">
      <h3 class="white-text">Enjoy <br>a free trial</h3>
      <p class="white-text">Thinking about hitting the gym but not sure what exercise to do? Why not come down for a free training session or group class and find out what fits. You're under no obligation and it is a great opportunity to come and talk to our fitness experts and try out our state-of-the-art equipment.</p>
      <a class="waves-effect waves-light btn white amber-text">FREE 7 DAYS TRIAL</a>
    </div>
  </div>
</div>

<!-- CAROUSEL -->
<div 
  class="carousel carousel-slider" 
  [ngClass]="{ 'initialized': showInitialized }"
  materialize="carousel" 
  [materializeParams]="[{full_width: true, indicators: true}]" >
    <div class="carousel-fixed-item center">
        <a routerLink="sobre-nos" class="btn waves-effect white black-text">Saiba mais</a>
    </div>
    <div class="carousel-item white-text" href="#one!">
      <img src="assets/img/sobre-nos-12.jpg">
    </div>
    <div class="carousel-item white-text" href="#two!">
      <img src="assets/img/sobre-nos-14.jpg">
    </div>
    <div class="carousel-item white-text" href="#three!">
      <img src="assets/img/sobre-nos-2.jpg">
    </div>
    <div class="carousel-item white-text" href="#four!">
      <img src="assets/img/sobre-nos-10.jpg">
    </div>
</div>

<!-- OUR SERVICES -->
<div class="row center">
  <div class="col s12 grey darken-3" style="padding: 120px 0;">
    <div class="icon-block">
      <h3 class="grey-text text-lighten-2">Our <span class="amber-text">services</span></h3>
      <p class="white-text">If you are looking for group training, personal training, bootcamps, yoga, or CrossFit, Studio Fitness has everything.<p>
    </div>
  </div>
</div>

<!-- Membership -->
<div class="row">
  <img src="assets/img/sobre-nos-10.jpg" class="col s12 m6">
  <div class="col s12 m6">
    <div class="icon-block" style="padding: 100px 0;">
      <h3 class="amber-text">Membership</h3>
      <p>We’re big on community so take an opportunity to meet your neighbors. We’ve been called the “Cheers” of fitness on more than one occasion. We believe our motto is even more fitting: gym as it should be.</p>
    </div>
  </div>
</div>

<!-- Personal Trainning -->
<div class="row">
  <img src="assets/img/sobre-nos-5.jpg" class="col s12 m6 push-m6">
  <div class="col s12 m6 pull-m6">
    <div class="icon-block" style="padding: 100px 0;">
      <h3 class="black-text">Personal Training</h3>
      <p>Our personal trainers are fully qualified to help you meet your fitness goals. From the person looking to start a workout routine for the first time to a marathon runner or bodybuilder, we have a personal trainer for you.</p>
    </div>
  </div>
</div>

<!-- Group Classes -->
<div class="row">
  <img src="assets/img/sobre-nos-8.jpg" class="col s12 m6">
  <div class="col s12 m6">
    <div class="icon-block" style="padding: 100px 0;">
      <h3 class="black-text">Group Classes</h3>
      <p>Our instructors and trainers are as dynamic as our facility, capable of progressively training any style of movement. From yoga to bootcamps, barre to CrossFit, and strength training to endurance, we have it all.</p>
    </div>
  </div>
</div>

<!-- F7 Crossfit -->
<div class="row">
  <img src="assets/img/studio-fitness-o2.jpg" class="col s12 m6 push-m6">
  <div class="col s12 m6 pull-m6">
    <div class="icon-block" style="padding: 100px 0;">
      <h3 class="black-text">F7 Crossfit</h3>
      <p>F7 CrossFit is CrossFit redefined. With an emphasis on injury free progress, we tailor the program to match you where you're at on your journey. Each class is designed to build throughout the year for those that are committed, while still providing such a well rounded program that even a quick drop in can provide great benefits. Check us out next to the turf at Studio Fitness.</p>
    </div>
  </div>
</div>
