.block-1 .icon-block {
  padding: 80px 0;
}
.icon-block h3 {
  font-size: 48px;
  line-height: 1em;
  font-family: "Poppins";
  font-weight: 700;
  text-transform: uppercase;
}
.row {
  margin-bottom: 0;
}
.row .col {
    padding: 0 0;
}
@media (min-width: 993px) {
  .row-flex-on-large .row {
    display: flex;
  }
}
@media (max-width: 993px) {
  .row-flex-on-large .img-bg-cover {
    height: 400px;
  }
}