<div class="container">
    <div materialize="carousel" [materializeParams]="[{full_width: true}]" class="carousel carousel-slider center" data-indicators="true" style="height: 600px;">
        <div class="carousel-item white-text" href="#one!">
            <img src="assets/img/sobre-nos-1.jpg">
        </div>
        <div class="carousel-item white-text" href="#one!">
            <img src="assets/img/sobre-nos-2.jpg">
        </div>
        <div class="carousel-item white-text" href="#one!">
            <img src="assets/img/sobre-nos-3.jpg">
        </div>
        <div class="carousel-item white-text" href="#one!">
            <img src="assets/img/sobre-nos-4.jpg">
        </div>
        <div class="carousel-item white-text" href="#one!">
            <img src="assets/img/sobre-nos-5.jpg">
        </div>
        <div class="carousel-item white-text" href="#one!">
            <img src="assets/img/sobre-nos-6.jpg">
        </div>
        <div class="carousel-item white-text" href="#one!">
            <img src="assets/img/sobre-nos-7.jpg">
        </div>
        <div class="carousel-item white-text" href="#one!">
            <img src="assets/img/sobre-nos-8.jpg">
        </div>
        <div class="carousel-item white-text" href="#one!">
            <img src="assets/img/sobre-nos-9.jpg">
        </div>
        <div class="carousel-item white-text" href="#one!">
            <img src="assets/img/sobre-nos-10.jpg">
        </div>
        <div class="carousel-item white-text" href="#one!">
            <img src="assets/img/sobre-nos-11.jpg">
        </div>
        <div class="carousel-item white-text" href="#one!">
            <img src="assets/img/sobre-nos-12.jpg">
        </div>
        <div class="carousel-item white-text" href="#one!">
            <img src="assets/img/sobre-nos-13.jpg">
        </div>
    </div>

</div>
